body {
  margin: 0;
  overflow: hidden;
  font-family: Helvetica;
}

canvas .text-input {
  visibility: hidden;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 40%;
  height: 10%;
  resize: none;
  user-select: none;
  color: white;
  background-color: #111;

  text-align: center;
}

#text-translation {
  bottom: 14%;
}

#rule-set {
  top: 2%;
}

.data-display {
  position: fixed;
  visibility: hidden;

  left: 50%;
  transform: translate(-50%, 0);
  width: 60%;
  height: auto;
  resize: none;
  user-select: none;
  color: white;
  text-align: center;
}

#post-tooltip {
  width: auto;
  height: auto;
  max-width: 200px;
  position: fixed;
  transform: translate(-50%, -110%);

  visibility: hidden;
  z-index: 1001;
  background-color: #223;
  border-radius: 10px;
  padding: 10px;
  color: white;

  user-select: none;
  cursor: pointer;
}

.cool-slider {
  -webkit-appearance: none;
  background-color: #020206;
  width: 99%;
  height: 12px;
  border-radius: 50px;
  box-shadow: inset #333 0 0 2.5px;
  /* z-index: 100; */
}
.cool-slider::-webkit-slider-thumb {
  z-index: 102;
  appearance: none;
  width: 30px;
  height: 20px;
  border-radius: 20px;
  background-color: #221;

  box-shadow: inset white 0 0 2.5px;
}
#zoom-slider {
  width: 99%;
}
#mode-slider {
}

.cool-slider-container {
  z-index: 101;
  position: fixed;
}
#zoom-slider-container {
  top: 5%;
  left: -43vh;
  width: 90vh;
  height: 23px;
  transform: rotate(90deg) translate(50%);
}
#mode-slider-container {
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  width: 20%;
}

.slider-step {
  /* display: none; */
  z-index: 101;
  width: 14px;
  height: 14px;
  position: fixed;
  top: 0px;
  background-color: yellow;
  border-radius: 50px;
  transform: translate(-50%);
}
#slider-step-0 {
  left: 0%;
}
#slider-step-1 {
  left: 50%;
}
#slider-step-2 {
  left: 100%;
}
