@font-face {
  font-family: Avara;
  src: url("./resources/fonts/Avara-Bold.otf");
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Helvetica;
}

canvas .text-input {
  visibility: hidden;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 40%;
  height: 10%;
  resize: none;
  user-select: none;
  color: white;
  background-color: #111;

  text-align: center;
}

#text-translation {
  bottom: 14%;
}

#rule-set {
  top: 2%;
}

.data-display {
  position: fixed;
  visibility: hidden;

  left: 50%;
  transform: translate(-50%, 0);
  width: 60%;
  height: auto;
  resize: none;
  user-select: none;
  color: white;
  text-align: center;
}

#post-tooltip {
  width: auto;
  height: auto;
  max-width: 200px;
  position: fixed;
  transform: translate(-50%, -110%);

  visibility: hidden;
  z-index: 1001;
  background-color: #223;
  border-radius: 10px;
  padding: 10px;
  color: white;
  backdrop-filter: blur(2px);

  user-select: none;
  cursor: pointer;
}

.cool-slider {
  -webkit-appearance: none;
  background-color: #101216;
  width: 99%;
  height: 19px;
  margin: 0;
  border-radius: 50px;
  box-shadow: inset #333 0 0 2.5px;
  /* z-index: 100; */
}
.cool-slider::-webkit-slider-thumb {
  /* display: none; */
  z-index: 102;
  appearance: none;
  width: 30px;
  height: 11px;
  border-radius: 20px;
  background-color: #242422;
  /* opacity: 30%; */

  box-shadow: inset white 0 0 2.5px;
}
#zoom-slider {
  width: 99%;
}
#mode-slider {
}
#mode-slider::-webkit-slider-thumb {
  width: 11px;
}

.cool-slider-container {
  z-index: 101;
  position: fixed;
}
#zoom-slider-container {
  top: 5%;
  left: -43vh;
  width: 90vh;
  height: 23px;
  transform: rotate(90deg) translate(50%);
  opacity: 50%;
  transition: 0.3s;
}
#zoom-slider-container:hover {
  opacity: 90%;
  transform: rotate(90deg) translate(50%) scale(110%);
}

#mode-slider-container {
  bottom: 5px;
  left: 50%;
  transform: translate(-50%) scale(1.3);
  width: 10%;
  min-width: 100px;
  transition: 0.3s;
  opacity: 90%;
}

#mode-slider-container:hover {
  transform: translate(-50%) scale(1.5);
}

.mode-icon {
  position: fixed;
  /* top: -300px; */
  width: 30px;
  height: 30px;
  z-index: 104;
  /* background-color: ; */
  filter: invert();
  bottom: 175%;
  opacity: 20%;
  user-select: none;
}
.mode-icon:hover {
}

#foot {
  left: 100%;
  transform: translate(-50%);
}
#map {
  left: 33%;
  transform: translate(-50%);
}
#auto {
  right: 50%;
  transform: translate(50%);
}

.slider-step {
  /* display: none; */
  z-index: 101;
  width: 8px;
  height: 8px;
  position: fixed;
  top: 9.4996px;
  background-color: #333;
  opacity: 100%;
  border-radius: 50px;
  transform: translate(-50%, -50%);
}
#slider-step-0 {
  left: 1%;
  transform: translate(50%, -50%);
}
#slider-step-1 {
  left: 50%;
}
#slider-step-2 {
  right: 1%;
}

#loading-screen-background {
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: black;
  color: #eee;
  font-size: 10vh;
  text-align: center;
  line-height: 100vh;
  transition: 1.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#loading-screen-text {
  font-family: Avara;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  color: #eee;
  font-size: 10vmax;
  text-align: center;
  line-height: 100vh;
  transition: 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 1;
  user-select: none;
}
